.titulo1{
  color: #007ec1;
  text-align: center;
  display: block;
  margin-top: 0px;
}

.Boton1{
  background-color:#007ec1;
  color:white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.Logo{
  height: 240px;
  width: 240px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.link{
  color: white;
}